n8n/workflows/processamento.json
{
  "name": "processamento",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const raw = item.json;\n\n  const dataCriacao = new Date(raw.created_at);\n  const dataAtualizacao = new Date(raw.updated_at);\n  \n  const duracaoMinutos = (dataAtualizacao - dataCriacao) / 60000;\n  \n  const tempoPorContato = raw.total_contacts > 0 ? (duracaoMinutos / raw.total_contacts) : 0;\n\n  const statusMap = {\n    'PROCESSING': 'EM_PROCESSAMENTO',\n    'COMPLETED': 'CONCLUIDO',\n    'FAILED': 'FALHOU',\n    'CANCELED': 'CANCELADO'\n  };\n\n  const tipoMap = {\n    'PERSON': 'PESSOA',\n    'COMPANY': 'EMPRESA'\n  };\n\n  let categoria = 'PEQUENO';\n  if (raw.total_contacts > 1000) categoria = 'MUITO_GRANDE';\n  else if (raw.total_contacts > 500) categoria = 'GRANDE';\n  else if (raw.total_contacts >= 100) categoria = 'MEDIO';\n\n  return {\n    json: {\n      id_enriquecimento: raw.id,\n      id_workspace: raw.id_workspace,\n      nome_workspace: raw.workspace_name,\n      total_contatos: raw.total_contacts,\n      tipo_contato: tipoMap[raw.contact_type] || raw.contact_type,\n      status_processamento: statusMap[raw.status] || raw.status,\n      data_criacao: dataCriacao,\n      data_atualizacao: dataAtualizacao,\n      duracao_processamento_minutos: duracaoMinutos,\n      tempo_por_contato_minutos: tempoPorContato,\n      processamento_sucesso: raw.status === 'COMPLETED',\n      categoria_tamanho_job: categoria,\n      necessita_reprocessamento: ['FAILED', 'CANCELED'].includes(raw.status), \n      data_atualizacao_dw: new Date() \n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -128
      ],
      "id": "e2ba0528-3a3f-452a-be02-afbf637f30c0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM bronze_enrichments \n  ORDER BY id \n  LIMIT {{ $json.limit }}\n  OFFSET {{ $json.offset }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1152,
        0
      ],
      "id": "e8a963bb-b496-4fb5-a733-fe61b1d901e6",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "HHwbeXXxuu47yzGm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ba8b4fd-270e-4328-8c5e-53208603727a",
              "name": "limit",
              "value": 500,
              "type": "number"
            },
            {
              "id": "fa40f062-5380-470a-a77c-8a4b0bb1ac0b",
              "name": "offset",
              "value": "={{ $json.offset ?? 0 }}",
              "type": "number"
            },
            {
              "id": "db8ca354-6696-490d-b2f7-a86b45c823d0",
              "name": "total",
              "value": "={{ $json.total }}",
              "type": "number"
            },
            {
              "id": "9ed3d8b4-9811-4126-a10c-112067eddf19",
              "name": "lastCreatedAt",
              "value": "={{ $json.lastCreatedAt ?? \"1977-01-01T00:00:00.000Z\"}}",
              "type": "string"
            },
            {
              "id": "362d990a-95dd-4772-9c14-611f8a8d28c9",
              "name": "lastId",
              "value": "={{ $json.lastId ?? \"a\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "bdc5e238-a6f9-44e3-9885-47f094640401",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as total FROM bronze_enrichments;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        0
      ],
      "id": "ff00e7bf-e61a-4fa9-98a5-4f434cbcf762",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "HHwbeXXxuu47yzGm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df8fe247-2a71-4141-8699-26b331d85b46",
              "leftValue": "={{ $json.offset }}",
              "rightValue": "={{ $json.total }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        48
      ],
      "id": "25e67604-1996-4829-8d9d-f4cd0b5586da",
      "name": "If",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst last = $input.last().json;\nreturn [{\n  json: {\n    lastCreatedAt: last.created_at,\n    lastId: last.id,\n    limit: $('Edit Fields').first().json.limit,\n    offset: $('Edit Fields').first().json.offset + $('Edit Fields').first().json.limit,\n    total: $('Edit Fields').first().json.total\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        48
      ],
      "id": "dd56dcb4-e91d-4a34-805a-a22b805da198",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as total FROM gold_enrichments;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        240
      ],
      "id": "20fba221-6821-4b00-b591-f2ea1fd4d7a7",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "HHwbeXXxuu47yzGm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "gold_enrichments",
          "mode": "list",
          "cachedResultName": "gold_enrichments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processamento_sucesso": "={{ $json.processamento_sucesso }}",
            "necessita_reprocessamento": "={{ $json.necessita_reprocessamento }}",
            "total_contatos": "={{ $json.total_contatos }}",
            "duracao_processamento_minutos": "={{ $json.duracao_processamento_minutos }}",
            "tempo_por_contato_minutos": "={{ $json.tempo_por_contato_minutos }}",
            "id_enriquecimento": "={{ $json.id_enriquecimento }}",
            "id_workspace": "={{ $json.id_workspace }}",
            "nome_workspace": "={{ $json.nome_workspace }}",
            "tipo_contato": "={{ $json.tipo_contato }}",
            "status_processamento": "={{ $json.status_processamento }}",
            "data_criacao": "={{ $json.data_criacao }}",
            "data_atualizacao": "={{ $json.data_atualizacao }}",
            "categoria_tamanho_job": "={{ $json.categoria_tamanho_job }}",
            "data_atualizacao_dw": "={{ $json.data_atualizacao_dw }}"
          },
          "matchingColumns": [
            "id_enriquecimento"
          ],
          "schema": [
            {
              "id": "id_enriquecimento",
              "displayName": "id_enriquecimento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_workspace",
              "displayName": "id_workspace",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nome_workspace",
              "displayName": "nome_workspace",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "total_contatos",
              "displayName": "total_contatos",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo_contato",
              "displayName": "tipo_contato",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_processamento",
              "displayName": "status_processamento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_atualizacao",
              "displayName": "data_atualizacao",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "duracao_processamento_minutos",
              "displayName": "duracao_processamento_minutos",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "tempo_por_contato_minutos",
              "displayName": "tempo_por_contato_minutos",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "processamento_sucesso",
              "displayName": "processamento_sucesso",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "categoria_tamanho_job",
              "displayName": "categoria_tamanho_job",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "necessita_reprocessamento",
              "displayName": "necessita_reprocessamento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_atualizacao_dw",
              "displayName": "data_atualizacao_dw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1616,
        -128
      ],
      "id": "e31594c9-5503-4de4-8788-6fc1af30e6cd",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "HHwbeXXxuu47yzGm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "scheduler"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        0
      ],
      "id": "be39a8e9-5e4e-4378-a5bd-94162b7b544e",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b34fbcc1-9050-41e9-af80-6c61df481b28",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4eb7a78b5edb10977172c11993b69ee178a3cd1d11db1f527c1a918ab6b79e5d"
  },
  "id": "Jt_096ZGgJnr9CEDfSAS-",
  "tags": []
}